# /srv/caddy/conf/Caddyfile

# Global settings
{
    # Disable the admin API (this also disables `caddy reload`)
    admin off

    # Disable automatic HTTPS
    auto_https off
}

# Listen on HTTP port 80
:80 {
    # Process logic in this exact order
    route {

        # Normalize `/jellyfin` to `/jellyfin/`
        redir /jellyfin /jellyfin/ 308

        # Send requests under `/jellyfin/` to Jellyfin on port 8096
        # Preserve the `/jellyfin` prefix so it matches Jellyfin's Base URL setting
        reverse_proxy /jellyfin/* jellyfin:8096

        # Normalize `/qbt` to `/qbt/`
        redir /qbt /qbt/ 308

        # Match requests under `/qbt/` and strip the `/qbt` prefix before proxying
        handle_path /qbt/* {
            # Send those requests to qBittorrent on port 8080
            reverse_proxy qbittorrent:8080 {
                # Set the upstream `Host` header to the backend address
                header_up Host {upstream_hostport}
            }
        }

        # Normalize `/pihole` to `/pihole/admin/`
        redir /pihole /pihole/admin/ 308

        # Match requests under `/pihole/` and strip the `/pihole` prefix before proxying
        handle_path /pihole/* {
            # Send those requests to Pi-hole on port 80
            reverse_proxy pihole:80
        }

        # Send requests to Homarr on port 8080 for everything else (`http://debian.local/`)
        reverse_proxy homarr:7575
    }
}
